.navlist{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    margin: 10px 0 0 0 ;
}
.navlink {
    font-size: 24px;
    margin-right: 70px
}
/* .logo{
    font-size: 40px;
    color: white;
    margin: 0;
    padding-top: 22px;
    padding-left: 72px;
} */
.bnav {
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-weight: bold; 
    border-radius: 10px ;
    padding: 10px;
  }
.navigation a {
    color: rgb(220, 220, 220);
    border-radius: 10px ;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
  }
.navigation a:hover {
    background-color: white !important ;
    color: black;
}
.navigation b:hover{
    background-color: white !important;
    color: black;
}

ul.drop-menu {
    display: none;
    float: left;
    position: absolute;
    list-style-type: none; /* remove bullet points */
    padding-top: 10px;
    background-color: #2F2D38;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    min-height: 90px;
  }
ul.drop-menu ul{
    align-items: left;
}
  
  ul.drop-menu li {
    padding: 5px;
  }
  /* ul.drop-menu a:hover{
    color: white;
  }
   */
  li:hover > ul.drop-menu {
    display: block;
  }