/* .flex-container {
    display: flex;
    background-color:   #2F2D38;
    justify-content: left;
    height: 125px;
  } */
  
  /* --- Flexbox navigation bar --- */
  
  .flex-nav-item {
    flex-grow: 1;
    flex: auto;
  }
  
  /* --- Flexbox dropdown menu --- */
  


  .navigation ul {
    display: flex;
    position: relative;
    justify-content:end;
    gap: 125px;
    list-style: none;
    margin-top: 0;
    padding: 0 100px; /* Y (top/bottom) X (left/right) */
  }
  
  .navigation a {
    color: rgb(220, 220, 220);
    background-color: #2F2D38;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navigation b:hover {
    color: white;
  }
  .bnav {
    color: rgb(220, 220, 220);
    background-color: #2F2D38;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;  
  }
.navlist{
    list-style-type: none;
    display: flex;
    justify-content: left;
}
  ul.drop-menu {
    display: none;
    position: absolute;
    list-style-type: none; /* remove bullet points */
    padding-top: 5px;
    background-color: #2F2D38;
    box-shadow: 0px 5px 10px black;
  }
ul.drop-menu ul{
    align-items: left;
}
  
  ul.drop-menu li {
    padding: 5px;
  }
  ul.drop-menu a:hover{
    color: white;
  }
  
  li:hover > ul.drop-menu {
    display: block;
  }