body{
    font-family: "Inter", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
}
header{
    background-color: #2F2D38 ;
    margin-top: 0;
    margin-bottom: 0;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky;
    top: 0; */
}

main p{
    margin: 0;
    padding-top: 0;
}

/* header p{
    color: white;
    margin: 0;
    padding-top: 22px;
    padding-left: 72px;
    padding-bottom: 22px;
    font-size: 40px;

} */
.logo{
    font-size: 40px;
    color: white;
    margin: 0;
    padding-top: 22px;
    padding-left: 72px;
    padding-bottom: 22px;

}
@font-face {
    font-family: "Jarotest";
    src: url(../Jaro-Regular-VariableFont_opsz.ttf);
}
.jaro-logo {
    font-family: "Jaro";
    font-size: 64px;
    
}
.test{
    font-family: "Jarotest";
    font-size: 20px;
}

html, body {
    margin: 0 auto; 
    padding: 0;
}

#first{
    background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 675px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

#s1{
    background-image: url(https://images.pexels.com/photos/7988087/pexels-photo-7988087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 550px;
    height: 550px;
    margin-top: 51px;
    margin-left: 62px;
    margin-bottom: 51px;

}
#s2{
    background-color: rgba(69,61,119, 90%) ;
    color: white;

    width: 550px;
    height: 550px;
    margin-top: 51px;
    border-radius: 8px;
    margin-bottom: 51px;
    font-size: 24px;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#s2 h4{
    font-weight: bolder;

    
}
#s2 .test{
    font-size: 48px;
}
#s3{
    background-image: url(../images/twowomanpc.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 550px;
    height: 550px;
    margin-top: 51px;
    margin-right: 62px;
    margin-bottom: 51px; 
}
/* #s4{
    margin-right: 78px;
    max-width: 800px;
    max-height: 800px;
    margin-left: 37px;
    margin-top: 37px;
    border-radius: 8px;
    border: solid 3px #000;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content:safe;

} */
/* #s5{
    margin-right: 78px;
    max-width: 800px;
    max-height: 800px;
    margin-top: 37px;
    border-radius: 8px;
    border: solid 3px #000;
    background: #D9D9D9;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */
/* .second-Headline{
    font-size: 64px;
    margin-left: 32px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
} */
#imgCpp{
    width: 120px;
    height: 80px;
    
    
}
#imgJava{
    width: 120px;
    height: 80px;
}

/* #s4-1{
    max-width: 700px;
    height: 600px;
    border-radius: 8px;
    border: 2px solid #000;
    background: url(../images/cppcoding.png) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    margin-top: 46px;
    display: flex;

}
#s5-1{
    max-width: 700px;
    height: 600px;
    border-radius: 8px;
    border: 2px solid #000;
    background: url(../images/javacoding.png) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    margin-top: 46px;
    display: flex;

}
#s4-1 span{
    font-size: 44px;
}
#s5-1 span{
    font-size: 44px;
} */
/* #cppDesc{
    align-self: flex-end;
    width: 700px;
    height: 200px;
    bottom: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(106, 130, 139, 0.90);
    border-radius: 8px ;
    padding-left: 25px;
    padding-top: 10px;
   
}
#javaDesc{
    align-self: flex-end;
    width: 700px;
    height: 200px;
    bottom: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(148, 109, 95, 0.90);
    border-radius: 8px ;
    padding-left: 25px;
    padding-top: 10px;
   
}
#second{
    height: 1080px;

    margin-top: 0;
    background-color: #69647B;
    display:flex;
}
#second h2{
    margin-top: 0;
    margin-left: 43px;
    font-size: 64px;
    color: white;
} 
*/
#box1{
    max-width: 1780px;
    height: 874px;
    border-radius: 10px;
    background: #292447;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 43px;
    margin-right: 43px;
    /* box-sizing: border-box; */
    display: flex;
    justify-content:center;

}
#box1 a{
    text-decoration: none;
}
hr{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 5px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }





/* for home site*/
#ourOffer{
    margin-top: 0;
    margin-left: 43px;
    font-size: 48px;
    color: white;
}
#ourOfferBackground{
    max-height: 1080px;

    margin-top: 0;
    background-color: #69647B;
    /* display:flex; */
}
#offerDiv{
    display:  flex;
    justify-content: center;
}
.offerDesc{
    text-decoration: none;
    color: white;
    margin-top: auto;
    border-radius: 8px;
    font-size: 34px;
    padding: 10px;
}
#cppSect{
    background-color: rgba(106, 130, 139, 0.90);
}

#javaSect{
    background-color: rgba(148, 109, 95, 0.90);
}
.offerContainer{
    max-width: 700px;
    max-height: 700px;
    min-width: 350px;
    min-height: 700px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.offerHeadline{
    font-size: 64px;

    display: flex;
    justify-content: space-between;
}
#offerBackgroundCpp{
    margin-top: auto;
    max-width: 700px;
    max-height: 660px;
    min-width: 350px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url(../images/cppcoding.png);
    background-size: contain no-repeat;
    border-radius: 10px;
    padding: 0px;
}
#offerBackgroundJava{
    margin-top: auto;
    max-width: 700px;
    max-height: 660px;
    min-width: 350px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url(../images/javacoding.png) ;
    background-size: cover;
    border-radius: 10px;
    padding: 0px;
}
#boxAround{
    width: 1700px;
    max-height: 900px;
    background-color: #292447;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

/* for cpp Site */
.codeMain{
    background-color:#69647B;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 50px;
    max-height: 100vh;
}
.codeSiteDiv{
    width: 1700px;
    max-height: 900px;
    background-color: #292447;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}
.codeSiteImg{
    max-width: 750px;
    max-height: 750px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 8px;
}
.offerContainer2{

    background-color:#D9D9D9;
    margin-left: 40px;
    border-radius: 8px;
    padding: 10px;
    max-width: 880px;
    max-height: 750px;
    min-height: 200px;
    min-width: 200px;
}
.codeIndepth{
    min-height: 550px;
    padding:20px;
    font-size: 34px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    color: white;
    background-color: rgb(69, 61, 125,0.9) ;

}
.buttonAboutUs{
    background-color: #24A0ED;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 10px;
    font-size: 34px;
    text-decoration: none;

}
#aboutUsContainer{
    background-color:#D9D9D9;
    margin-left: 0px;
    margin-right: 40px;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 20px;

}
#aboutUsIndepth{
    font-size: 28px;
}
.more{
    
    display: none;
}
#currentSite{
    background-color: rgba(69,61,119);
}
#burger{
    margin-top: 20px;
}
